body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(to right, #030202 0%, #1f1f1f 60%,#1f1f1f 100%);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar-items {
    border-bottom: #eb97f9 solid 2px;
    color: #eb97f9;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between
}

.navbar-items-logo {
    margin-left: 15px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    text-shadow: 0px 0px 2px #FFFFFF;
    gap: 3vh;
}

    .navbar-items-logo > img {
        width: 35px;
        margin-bottom: 0;
    }

.navbar-items-menu {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    gap: 5vh;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

    .navbar-items-menu li {
        font-size: 18px;
        background: transparent;
        padding: 5px;
        color: #eb97f9;
        text-shadow: 0px 0px 0.5px #FFFFFF;
        display: inline-block;
        box-sizing: border-box;
        transition: background 0.5s ease, color 0.5s ease;
        cursor: pointer;
        position: relative;
        padding: 0;
        margin: 0;
    }

        .navbar-items-menu li:hover {
            border-radius: 5px;
            color: #fff;
            text-shadow: 0px 0px 15px #eb97f9;
        }

    .navbar-items-menu > li:last-child {
        color: #eb97f9;
        text-shadow: 0px 0px 25px #FFFFFF;
    }

    .navbar-items-menu li:last-child:hover {
        color: #fff;
    }

    .navbar-items-menu li > ul {
        display: none;
        position: absolute;
        top: 100%; /* Wyœwietlenie poni¿ej elementu nadrzêdnego */
        background-color: #1f1f1f;
        padding: 10px;
        border-radius: 5px;
        margin: 0;
        list-style-type: none;
        min-width: 100%;
        box-sizing: border-box;
    }

    .navbar-items-menu li:hover > ul {
        display: block;
        background: #1f1f1f 60%;
        transition: background 0.5s ease, color 0.5s ease;
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2); 
    }
